<IfDefine !sur_localhost>
  #===================================================================
  #====================== en production ==============================
  #===================================================================
  deny from all
  #===================================================================
  #====================== en production ==============================
  #===================================================================
</IfDefine>


<IfDefine sur_localhost>
  #===================================================================
  #====================== localhost ==================================
  #===================================================================
  # on peut accéder à tout
  #===================================================================
  #====================== localhost ==================================
  #===================================================================
</IfDefine>

